# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/
/.wrangler/state/v3/r2/miniflare-R2BucketObject/f47565f2166f83f0ceb5fe585d610bfec321c9595b789c3a3cf109776a313991.sqlite

# Local Cloudflare Wrangler
.wrangler/
wrangler.toml
wrangler.contact.toml

# JetBrains SQLite cache
.wrangler/state/v3/r2/**/*.sqlite