---
const env = (Astro.locals as any)?.runtime?.env ?? {};

const ADMIN_USER   = env.ADMIN_USER;
const ADMIN_PASS   = env.ADMIN_PASS;
const ADMIN_SECRET = env.ADMIN_SECRET;
---

<h1>Admin env debug</h1>
<ul>
    <li>ADMIN_USER defined: {ADMIN_USER ? "YES" : "NO"}</li>
    <li>ADMIN_PASS defined: {ADMIN_PASS ? "YES" : "NO"}</li>
    <li>ADMIN_SECRET defined: {ADMIN_SECRET ? "YES" : "NO"}</li>
</ul>
